<app-brand-bar-component></app-brand-bar-component>
<div class="container vertical-center justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="identityFormGenerator">
            <div>
              <div>
                <label>
                  Entrer votre nom
                  <input id="answer1" type="text">
                  Entrer votre mail
                  <input id="answer2" type="mail" required="required">
                </label>
              </div>
            </div>
            <a routerLink="/home"><button type="submit" class="btn btn-primary btn-back">Retour</button></a>
            <button routerLink="/home"  (click)="postSurvey()" type="submit" class="btn btn-primary btn-align-right">Créer le sondage</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
