<app-brand-bar-component></app-brand-bar-component>
<div class="container vertical-center justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="identityFormGenerator">
            <div>
              <div>
                <label>
                  Entrer votre nom *
                  <input formControlName="nameControl" [(ngModel)]="username" id="answer1" required type="text">
                  Entrer votre mail *
                  <input formControlName="mailControl" [(ngModel)]="usermail" id="answer2" required type="mail">
                </label>
              </div>
            </div>
            <a routerLink="/home">
              <button class="btn btn-primary btn-back" type="button">Annuler</button>
            </a>
            <button (click)="postSurvey()" class="btn btn-primary btn-align-right" [disabled]="!identityFormGenerator.valid" routerLink="/home" type="submit">
              Créer le sondage
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
